APP_NAME=resume-automation-api
APP_ENV=local
APP_HOST=0.0.0.0
APP_PORT=8000
DATABASE_URL=sqlite:///./resume_automation.db
DATABASE_ECHO=false
DATABASE_AUTO_CREATE=true
DATABASE_SEED_REFERENCE_DATA=true
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1
CELERY_TASK_ALWAYS_EAGER=true
ANDROID_DRIVER_MODE=mock
ANDROID_ADB_PATH=adb
ANDROID_DEFAULT_DEVICE_SERIAL=
ANDROID_ARTIFACTS_DIR=./artifacts
ANDROID_USE_ADB_TEXT_INPUT=true
APPIUM_SERVER_URL=http://127.0.0.1:4723
APPIUM_AUTOMATION_NAME=UiAutomator2
APPIUM_PLATFORM_NAME=Android
APPIUM_DEVICE_NAME=Android
APPIUM_NEW_COMMAND_TIMEOUT=120
APPIUM_NO_RESET=true
APPIUM_APP_PACKAGE=
APPIUM_APP_ACTIVITY=
